*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import '../scss/base/h1';
@import '../scss/base/body';
@import url(./base/_body.scss);
@import '../scss/componentes/footer';
@import '../scss/componentes/form';
@import '../scss/componentes/label';
@import '../scss/componentes/input';
@import '../scss/componentes/main';
@import '../scss/base/h2';
@import '../scss/base/h3';
@import '../scss/componentes/p'
